<%= form_with(model: email) do |form| %>
  <% if email.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(email.errors.count, "error") %> prohibited this email from being saved:</h2>

      <ul>
        <% email.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.hidden_field :user_id, value: current_user.id %>
  <div>
    <%= form.label :to, style: "display: block" %>
    <%= form.email_field :to %>
  </div>

  <div>
    <%= form.label :title, style: "display: block" %>
    <%= form.text_field :title %>
  </div>

  <div class="col-sm-8">
    <%= form.label :body, style: "display: block" %>
    <%= form.rich_text_area :body %>
  </div>
  <div>
    <%= form.submit %>
  </div>
<% end %>
